<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9txMsKs89JDTVWKvkPNYCVCQZcIGCsN4</string>
	<key>GCM_SENDER_ID</key>
	<string>18398146893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mamo.mamo</string>
	<key>PROJECT_ID</key>
	<string>mamo-9fa7a</string>
	<key>STORAGE_BUCKET</key>
	<string>mamo-9fa7a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18398146893:ios:362e4899a95f3c55538704</string>
</dict>
</plist>